.wid {
  &--100per {
    width: 100%;
  }
  &--80per {
    width: 80%;
  }
  &--50per {
    width: 50%;
  }
}

.hei {
  &--100per {
    height: 100%;
  }
  &--80per {
    height: 80%;
  }
  &--50per {
    height: 50%;
  }
}

.mg {
  &--80per {
  }
}

.pd {
}
