@use './mixin' as mixin;

.hidden {
  display: none;
}
.in-a-row {
  @include mixin.setFlex(inline-flex);
}

.h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  font-family: "Happiness-Sans-Title";
}
.h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Happiness-Sans-Title";
}
.h5 {
  color: #fff;
  font-size: 1.7rem;
  font-family: "Happiness-Sans-Title";
}

.float {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
  &-clear {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

.center {
  &-item {
    @include mixin.setFlex(flex, center, center);
    width: 100%;
    min-height: 100vh;
  }
  &-vertical {
    @include mixin.setFlex(flex, null, center);
  }
  &-txt {
    text-align: center;
  }
}

.underline {
  border-bottom: 1px solid #42464d;
}

.btn-slider {
  width: 3.5rem;
  height: 2rem;
  background-color: #72767d;
  border-radius: 10px;
  & > input[type="checkbox"] {
    display: inline-block;
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    appearance: none;
  }
}

.avoid--click {
  pointer-events: none; //해당 요소는 click event target이 되지 않도록
}

.badge {
  display: inline-block;
  padding: 0.2rem 1rem;
  color: #fff;
  border-radius: 1rem;
  margin: 0 1rem;
  &.negative {
    border: 1px solid #e03a3e;
    background: linear-gradient(to bottom, rgb(224 58 62 / 71%), #e03a3e);
  }
  &.positive {
    border: 1px solid #00993e;
    background: linear-gradient(to bottom, rgb(97 187 70 / 71%), #00993e);
  }
}
