@use '../variables' as var;
@use "../mixin" as mixin;

.left-panel {
  width: 7.2rem;
  height: 100%;
  background-color: var(--darkest-gray);

  ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  li {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: #36393f;
    text-align: center;
    margin: 1rem 0;
    &:hover {
      background-color: var(--primary-blue);
    }
  }
}

.right-panel {
  width: calc(100% - 7.2rem);
  height: 100%;
  .side-panel {
    width: 24rem;
    width: 12.987%;
    height: 100%;
    background-color: var(--side-pen-gray);
    font-size: var.$font-size;
  }
  .side-panel .head-label {
    text-align: center;
    line-height: 48px;
    padding: 0 1rem;
    height: 48px;
    box-shadow: var(--elevation-low);
  }
  .side-panel .head-label button {
    width: 100%;
    height: 28px;
    padding-left: 1rem;
    overflow: hidden;
    background-color: #202225;
    color: #a3a6aa;
    text-align: left;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .content-panel {
    width: 87.013%;
    background-color: var(--workspace-gray);
  }

  header {
    width: 100%;
    height: 4.8rem;
    box-shadow: var(--elevation-low);
    nav {
      @include mixin.setFlex(flex, space-between, center);

      margin: 0 2rem;
    }
  }

  .list-vertical__item a span {
    padding-left: 0.4rem;
  }
}

.r-panel-util {
  h5 {
    width: 16rem;
    text-align: left;
    font-size: 1.2rem;
  }
  button {
    font-size: 2rem;
    font-weight: 600;
    vertical-align: middle;
  }
  @include mixin.setFlex(inline-flex, space-between, center);

  width: 100%;
  height: 4rem;
  margin: 1.6rem 0;
  padding: 0 1rem;
  padding-left: 14px;
  color: #96989d;
  cursor: pointer;
  &::before {
    display: inline-block;
    content: "";
    width: 7px;
    height: 7px;
    border: 2px solid #96989d;
    border-width: 2px 2px 0 0;
    transform: rotate(47deg);
    transform-origin: 2.5px 1px;
    transition: 0.3s;
  }
  &.opened::before {
    transform: rotate(135deg) translateY(-3px);
  }
}

.channel-body {
  font-size: var.$font-size;
  &__left {
    width: 73.973%;
    height: 100%;
    .search-area {
    }
    .search-area p {
      margin: 1.6rem;
      padding-bottom: 1.2rem;
      border-bottom: 1px solid
        hsla(217, calc(var(--saturation-factor, 1) * 7.6%), 33.5%, 0.48);
    }
  }
  &__right {
    width: calc(26.027% - 1px);
    height: 100%;
    padding: 16px;
    height: 100%;
    border-left: 1px solid
      hsla(217, calc(var(--saturation-factor, 1) * 7.6%), 33.5%, 0.48);
  }

  p {
    font-size: 1.4rem;
    color: #b9bbbe;
  }
}
