@use '../variables' as var;

.link {
  background-color: transparent;
  color: #00aff4;
}

.btn-confirm {
  width: 9.6rem;
  height: 3.8rem;
  color: #fff;
  background-color: var(--primary-blue);
  font-size: var.$font-size;
}

button[type="submit"] {
  background-color: var(--primary-blue);
  color: #fff;
  font-size: var.$font-size;
  padding: 1.3rem;
}
