.link {
  background-color: transparent;
  color: #00aff4;
}

.btn-confirm {
  width: 9.6rem;
  height: 3.8rem;
  color: #fff;
  background-color: var(--primary-blue);
}
/* Size */

/* Color */
button[type="submit"] {
  background-color: var(--primary-blue);
  color: #fff;
}
